.container {
  min-width: 230px;
  max-width: 230px;
  margin: 50px auto;
  padding: 5px;
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}

.current {
  height: 30px;
  padding: 6px;
  text-align: right;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 3px;
}

.buttons button {
  flex: 1 0 0;
  min-width: 50px;
  max-width: 50px;
  min-height: 30px;
  max-height: 30px;
  background-color: rgb(233, 233, 233);
  border: 0;
  border-radius: 5px;
  margin: 3px;
}

.buttons > button > .highlight {
  background-color: lightskyblue;
  /* TODO read up on specificity */
}
